<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Patrocars{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Patrocars - Sistema de Monstadoras e Veículos</h1>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 - Patrocars</p>
    </footer>
</body>
</html>
