{% extends "base.html" %}

{% block title %}Lista de Modelos{% endblock %}

{% block content %}
<h2>Lista de Modelos</h2>
<div class="modelo-list">
    {% for modelo in modelos %}
    <div class="modelo-container">
        <p>Nome: {{ modelo.nome }} - Motorização: {{ modelo.motorizacao }} - Montadora: {{ modelo.montadora.nome }}</p>
        <a href="/modelos/{{ modelo.id }}/edit" class="button-edit">Editar</a>
        <a href="/modelos/{{ modelo.id }}/delete" class="button-remove">Remover</a>
    </div>
    {% endfor %}
</div>
<a href="/modelos/add" class="button-add">Adicionar Modelo</a>
{% endblock %}
