{% extends "base.html" %}

{% block title %}Lista de Veículos{% endblock %}

{% block content %}
<h2>Lista de Veículos</h2>
<div class="vehicle-list">
    {% for veiculo in veiculos %}
    <div class="vehicle-container">
        <p>Placa: {{ veiculo.placa }} - Cor: {{ veiculo.cor }} - Ano: {{ veiculo.ano_fabricacao }}/{{ veiculo.ano_modelo }} - Valor: {{ veiculo.valor }} -  Modelo: {{ veiculo.modelo.nome }} - Montadora: {{ veiculo.modelo.montadora.nome }}</p>
        <a href="/veiculos/{{ veiculo.id }}/edit" class="button-edit">Editar</a> 
        <a href="/veiculos/{{ veiculo.id }}/delete" class="button-remove">Remover</a>
    </div>
    {% endfor %}
</div>
<a href="/veiculos/add" class="button-add">Adicionar Veículo</a>
{% endblock %}
