{% extends "base.html" %}

{% block title %}Lista de Montadoras{% endblock %}

{% block content %}
<h2>Lista de Montadoras</h2>
<div class="montadora-list">
    {% for montadora in montadoras %}
    <div class="montadora-container">
        <p>Nome: {{ montadora.nome }} - País: {{ montadora.pais }} - Ano de Fundação: {{ montadora.ano_fundacao }}</p>
        <a href="/montadoras/{{ montadora.id }}/edit" class="button-edit">Editar</a>
        <a href="/montadoras/{{ montadora.id }}/delete" class="button-remove">Remover</a>
    </div>
    {% endfor %}
</div>
<a href="/montadoras/add" class="button-add">Adicionar Montadora</a>
{% endblock %}
